.App {
  text-align: center;
  background-image: url('C:\Users\Rodri\Documents\Henry\PI-Food-main\client\src\images\food-with-ingredients.jpg');
  background-position: center;
  background-size: cover;
  margin: 0%;
}

