.h3D{
    color:white;
    margin-top: 0;
}

.h4D{
    color: white;
}

.pe{
    color: white;
    font-family: cursive;
}

.diet{
    color: white;
}
.steps{
    color: white;
    margin-bottom: 0;
}