.h3D{
    margin-top: 0;
}



.pe{
    font-family: cursive;
}

.steps{
    margin-bottom: 0;
}

.recipedetail{
    color: white;
    background-image: url('C:\Users\Rodri\Documents\Henry\PI-Food-main\client\src\images\60112018573a25fc933638ee1891efa4.jpg');
    background-size: cover;
}