.Home{
    background-image: url("C:\Users\Rodri\Documents\Henry\PI-Food-main\client\src\images\1000_F_509199540_hHx8Md24EvSzKEKTvIyPvQemmbmbtJLE.jpg");
    background-size: cover;
    height: 0;
    margin: 0;
}