.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #161925;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.typeContainer{
    display: flex;
    flex-direction: row;
    gap:5px
}

.orderContainer{
    display: flex;
    flex-direction: row;
    gap:5px
}

.createlink{
    text-decoration: none;
    color: white;
}

.logo{
    height: 40px;
}

